<h1>Slack Thread Fetcher</h1>
<%= form_with url: '/slack/fetch_thread_from_url', method: :post, local: true do |form| %>
  <%= form.label :thread_url, "スレッドURL:" %>
  <%= form.text_field :thread_url %>

  <%= form.submit "スレッド読み込み" %>
<% end %>

<h2>Messages</h2>
<% if @messages %>
  <ul>
    <% @messages.each do |message| %>
      <li><%= message.text %></li>
    <% end %>
  </ul>
<% end %>
